<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="itemname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{lookup config.classTypes system.classType}}
        </li>
        <li class="tooltip">
          <span class="tooltipcontent">@classes.{{item.system.tag}}.level : {{system.level}}</span>
          <input type="text" name="system.level" value="{{system.level}}" placeholder="{{#if isMythicPath}}{{localize "PF1.Tier"}}{{else}}{{localize "PF1.Level"}}{{/if}}" data-dtype="Number"/>
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    <a class="item" data-tab="changes">{{localize "PF1.Changes"}}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    <div class="tab flexcol" data-group="primary" data-tab="description">
      {{editor descriptionHTML.identified target="system.description.value" button=true owner=owner editable=editable engine="prosemirror" collaborate=false}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      {{!-- Class Type --}}
      <div class="form-group">
        <label>{{localize "PF1.ClassType"}}</label>
        <div class="form-fields">
          <select name="system.classType">
            {{#select system.classType}}
            {{#each config.classTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      {{!-- HD --}}
      <div class="form-group">
        <label>{{localize "PF1.HitDie"}}</label>
        <div class="form-fields">
          <input type="text" name="system.hd" value="{{system.hd}}" data-dtype="Number" />
        </div>
      </div>

      {{!-- HD count --}}
      <div class="form-group">
        <label>{{localize "PF1.CustomHitDice"}}</label>
        <div class="form-fields">
          <input type="text" class="formula" name="system.customHD" value="{{system.customHD}}" data-dtype="String" placeholder="{{localize "PF1.CustomHitDiceHint"}}"/>
        </div>
      </div>

      {{!-- Hit Points --}}
      {{#unless healthConfig.auto}}
      <div class="form-group">
        <label>{{localize "PF1.HitPoints"}}</label>
        <div class="form-fields">
          <input type="text" name="system.hp" value="{{system.hp}}" data-dtype="Number" />
        </div>
      </div>
      {{/unless}}

      {{!-- BAB --}}
      <div class="form-group">
        <label>{{localize "PF1.BABAbbr"}}</label>
        <div class="form-fields">
          <select name="system.bab">
            {{#select system.bab}}
            <option value="">{{localize "PF1.None"}}</option>
            {{#each config.classBAB as |name value|}}
            <option value="{{value}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
          {{#if (eq system.bab "custom")}}
          <label>{{localize "PF1.Formula"}}</label>
          <input type="text" class="formula" name='system.babFormula' value='{{system.babFormula}}'>
          {{/if}}
        </div>
      </div>

      {{!-- Skills/Level --}}
      <div class="form-group">
        <label>{{localize "PF1.SkillsPerLevel"}}</label>
        <div class="form-fields">
          <input type="text" name="system.skillsPerLevel" value="{{system.skillsPerLevel}}" data-dtype="Number" />
        </div>
      </div>

      {{!-- Proficiencies --}}
      {{~> "systems/pf1/templates/items/parts/item-proficiencies.hbs"}}

      <h4 class="form-header">{{localize "PF1.SavingThrowPlural"}}</h4>

      {{!-- Saving Throws --}}
      {{#each system.savingThrows as |savingThrow id|}}
      <div class="form-group">
        <label>{{savingThrow.label}}</label>
        <select name="system.savingThrows.{{id}}.value">
          {{#select savingThrow.value}}
          <option value="">{{localize "PF1.None"}}</option>
          {{#each ../config.classSavingThrows as |name value|}}
          <option value="{{value}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
        {{#if (eq savingThrow.value "custom")}}
        <label>{{localize "PF1.Formula"}}</label>
        <input name="system.savingThrows.{{id}}.custom" class="formula" type="text" value="{{savingThrow.custom}}" />
        {{/if}}
      </div>
      {{/each}}

      <h4 class="form-header">{{localize "PF1.Advanced"}}</h4>

      <div class="form-group">
        <label>{{localize "PF1.Tag"}}</label>
        <input {{#unless system.useCustomTag}}disabled{{/unless}} type="text" name="system.tag" value="{{system.tag}}" placeholder="{{localize "PF1.Tag"}}" />
        <label>{{localize "PF1.Custom"}}</label>
        <input type="checkbox" name="system.useCustomTag" {{checked system.useCustomTag}} />
      </div>

      {{#if isBaseClass}}
      <h4 class="form-header">{{localize "PF1.FavouredClassBonuses"}}</h4>

      {{!-- Favoured Class Bonuses --}}
      {{#each system.fc as |fc id|}}
      <div class="form-group">
        <label>{{fc.label}}</label>
        <input type="text" name="system.fc.{{id}}.value" value="{{fc.value}}" data-dtype="Number" />
      </div>
      {{/each}}
      <div class="form-group">
        <label>{{localize 'PF1.Notes'}}</label>
        <input type="text" name="system.fc.alt.notes" value="{{system.fc.alt.notes}}" data-dtype="String" />
      </div>
      {{/if}}

      <h4 class="form-header">{{localize "PF1.ClassSkills"}}</h4>

      <div class="form-group">
        <ol class="item-list">
        {{#each skills as |skill key|}}
        <li class="item flexrow" data-skill="{{key}}">
          <label class="checkbox skill-cs">
            <input type="checkbox" name="system.classSkills.{{key}}" {{checked skill.classSkill}} /> {{skill.name}}
          </label>
        </li>
        {{/each}}
        </ol>
      </div>
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
  </section>
</form>
